# 0.0 IMPORTS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.core.display  import HTML

## 0.1 Helper Function

In [2]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

In [3]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 0.2 Loading Data

In [4]:
df_marketing_raw = pd.read_csv('data/bank-full.csv', sep=";", low_memory=False)
df_marketing_raw.sample(5)

       age           job   marital          education  default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed    y
40737   45        admin.  divorced  university.degree       no      no  yes  telephone   sep         wed       173         1    999         0  nonexistent          -1.1          94.199          -37.5      0.876       4963.6   no
35901   50        admin.  divorced  university.degree       no     yes  yes   cellular   may         mon       644         1    999         0  nonexistent          -1.8          92.893          -46.2      1.264       5099.1   no
11210   50   blue-collar   married           basic.4y  unknown     yes   no  telephone   jun         thu        56         2    999         0  nonexistent           1.4          94.465          -41.8      4.961       5228.1   no
2028    36  entrepreneur   married  university.degree       no     yes   no  telephone   may         mon        59         4    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no
5550    33   blue-collar    single           basic.9y  unknown      no  yes  telephone   may         mon       788        11    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  yes

# 1.0 - DESCRIPTION OF DATA

In [5]:
df1 = df_marketing_raw.copy()

## 1.1 Rename Columns

In [6]:
df1.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [7]:
cols_old = ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 
            'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y']

cols_new = ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'passed_days', 'previous', 'previous_outcome', 
            'employment_var_rate', 'consumer_price_idx', 'consumer_conf_idx', 'euribor_3m', 'nr_employed', 'y']

# rename
df1.columns = cols_new

In [8]:
df1.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign',
       'passed_days', 'previous', 'previous_outcome', 'employment_var_rate',
       'consumer_price_idx', 'consumer_conf_idx', 'euribor_3m', 'nr_employed',
       'y'],
      dtype='object')

## 1.2 Data Dimensions

In [9]:
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Cols: {}'.format( df1.shape[1] ) )
# Evaluate the possibilite do use this project in your computer

Number of Rows: 41188
Number of Cols: 21

## 1.3 Data Types

In [10]:
df1.dtypes

age                      int64
job                     object
marital                 object
education               object
default                 object
housing                 object
loan                    object
contact                 object
month                   object
day_of_week             object
duration                 int64
campaign                 int64
passed_days              int64
previous                 int64
previous_outcome        object
employment_var_rate    float64
consumer_price_idx     float64
consumer_conf_idx      float64
euribor_3m             float64
nr_employed            float64
y                       object
dtype: object

## 1.4 Check NA

In [11]:
df1.isna().sum()

age                    0
job                    0
marital                0
education              0
default                0
housing                0
loan                   0
contact                0
month                  0
day_of_week            0
duration               0
campaign               0
passed_days            0
previous               0
previous_outcome       0
employment_var_rate    0
consumer_price_idx     0
consumer_conf_idx      0
euribor_3m             0
nr_employed            0
y                      0
dtype: int64

In [12]:
# There are several missing values in some categorical attributes, all coded with the "unknown" label. 
# These missing values can be treated as a possible class label or using deletion or imputation techniques.

# In this first moment I will transform "unknown" to NaN
df1.replace( {'unknown': np.nan}, inplace=True )

In [13]:
df1.isna().sum()

age                       0
job                     330
marital                  80
education              1731
default                8597
housing                 990
loan                    990
contact                   0
month                     0
day_of_week               0
duration                  0
campaign                  0
passed_days               0
previous                  0
previous_outcome          0
employment_var_rate       0
consumer_price_idx        0
consumer_conf_idx         0
euribor_3m                0
nr_employed               0
y                         0
dtype: int64

## 1.5 Fillout NA

In [ ]:
# job


# marital


# education


# default


# housing


# loan

In [15]:
df1[df1['job'].isna()==True]

       age  job   marital            education default housing loan    contact month day_of_week  duration  campaign  passed_days  previous previous_outcome  employment_var_rate  consumer_price_idx  consumer_conf_idx  euribor_3m  nr_employed    y
29      55  NaN   married    university.degree     NaN     NaN  NaN  telephone   may         mon       362         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
35      55  NaN   married             basic.4y     NaN     yes   no  telephone   may         mon       336         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
73      57  NaN   married                  NaN     NaN      no   no  telephone   may         mon       211         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
91      57  NaN   married                  NaN     NaN     yes   no  telephone   may         mon        48         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
144     38  NaN  divorced          high.school     NaN     yes   no  telephone   may         mon        73         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
299     38  NaN   married                  NaN     NaN      no   no  telephone   may         mon       362         4          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
303     43  NaN   married                  NaN      no     yes   no  telephone   may         mon       267         2          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
343     57  NaN   married                  NaN     NaN     yes   no  telephone   may         mon       325         2          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
388     28  NaN    single                  NaN     NaN     yes  yes  telephone   may         tue      1201         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0  yes
428     50  NaN   married                  NaN     NaN     yes   no  telephone   may         tue       185         3          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
476     59  NaN   married                  NaN     NaN      no   no  telephone   may         tue       113         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
483     49  NaN   married                  NaN     NaN     yes   no  telephone   may         tue       288         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
507     60  NaN    single                  NaN     NaN     yes   no  telephone   may         tue       211         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
582     45  NaN   married                  NaN     NaN      no   no  telephone   may         tue        79         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
584     45  NaN   married                  NaN     NaN      no   no  telephone   may         tue       315         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
794     28  NaN    single             basic.9y     NaN      no   no  telephone   may         wed       298         1          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
878     28  NaN    single             basic.9y     NaN     yes   no  telephone   may         wed        99         2          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
885     43  NaN   married          high.school     NaN      no   no  telephone   may         wed       463         1          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
961     58  NaN   married                  NaN     NaN      no   no  telephone   may         wed       118         3          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
1131    43  NaN   married          high.school     NaN      no   no  telephone   may         wed        35         3          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
1165    52  NaN   married             basic.4y      no      no   no  telephone   may         thu       156         1          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1181    44  NaN   married             basic.6y      no      no   no  telephone   may         thu       207         1          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1205    35  NaN   married             basic.9y      no     yes  yes  telephone   may         thu        20         1          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1207    35  NaN   married             basic.9y      no     yes   no  telephone   may         thu       235         1          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1229    35  NaN    single             basic.4y     NaN      no   no  telephone   may         thu        82         1          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1271    35  NaN   married             basic.9y      no      no   no  telephone   may         thu       108         2          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1376    35  NaN   married             basic.9y      no      no   no  telephone   may         thu       461         3          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1608    32  NaN       NaN    university.degree      no      no   no  telephone   may         fri       617         4          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0  yes
1671    46  NaN   married             basic.4y     NaN      no   no  telephone   may         fri       232         1          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1680    35  NaN    single             basic.4y     NaN      no   no  telephone   may         fri       121         4          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1860    29  NaN   married    university.degree      no     NaN  NaN  telephone   may         fri       282         2          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
1915    44  NaN    single             basic.9y     NaN     NaN  NaN  telephone   may         fri       226         2          999         0      nonexistent                  1.1              93.994              -36.4       4.855       5191.0   no
2010    45  NaN   married                  NaN     NaN      no   no  telephone   may         mon       139         6          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
2226    54  NaN   married                  NaN     NaN      no   no  telephone   may         mon       103         8          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
2287    37  NaN   married    university.degree      no      no  yes  telephone   may         tue       249         3          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
2290    48  NaN   married             basic.4y     NaN      no   no  telephone   may         tue       375         1          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
2346    30  NaN    single    university.degree      no      no   no  telephone   may         tue       213         1          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
2368    32  NaN   married             basic.6y     NaN      no   no  telephone   may         tue        39         2          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
2463    58  NaN   married             basic.4y      no      no  yes  telephone   may         tue       295         3          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
2508    47  NaN  divorced             basic.4y     NaN      no   no  telephone   may         tue        94         1          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
2549    49  NaN   married                  NaN      no      no   no  telephone   may         tue       192         1          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
2675    46  NaN   married    university.degree      no      no   no  telephone   may         wed        93         4          999         0      nonexistent                  1.1              93.994              -36.4       4.859       5191.0   no
2723    45  NaN   married                  NaN     NaN     NaN  NaN  telephone   may         wed       179         1          999         0      nonexistent                  1.1              93.994              -36.4       4.859       5191.0   no
2765    43  NaN   married          high.school     NaN      no   no  telephone   may         wed        96         1          999         0      nonexistent                  1.1              93.994              -36.4       4.859       5191.0   no
2834    35  NaN   married             basic.9y      no      no   no  telephone   may         wed        89         1          999         0      nonexistent                  1.1              93.994              -36.4       4.859       5191.0   no
2854    43  NaN   married    university.degree      no      no   no  telephone   may         wed       566         2          999         0      nonexistent                  1.1              93.994              -36.4       4.859       5191.0   no
2886    35  NaN   married             basic.9y      no      no  yes  telephone   may         wed       129         2          999         0      nonexistent                  1.1              93.994              -36.4       4.859       5191.0   no
3097    60  NaN   married    university.degree      no      no  yes  telephone   may         thu       112         1          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3124    43  NaN   married          high.school     NaN     yes  yes  telephone   may         thu       367         2          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3160    53  NaN   married          high.school     NaN      no   no  telephone   may         thu       303         1          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3169    55  NaN   married                  NaN     NaN     yes   no  telephone   may         thu       285         2          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3207    45  NaN   married                  NaN      no      no  yes  telephone   may         thu        93         1          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3248    42  NaN  divorced          high.school      no      no   no  telephone   may         thu        57         2          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3261    36  NaN    single             basic.6y     NaN      no   no  telephone   may         thu      1244         3          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3269    38  NaN   married                  NaN     NaN     yes   no  telephone   may         thu       270         1          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3274    45  NaN   married                  NaN      no      no  yes  telephone   may         thu       160         1          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3288    46  NaN   married             basic.6y     NaN      no   no  telephone   may         thu        51         5          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3366    45  NaN   married                  NaN      no     yes   no  telephone   may         thu       251         1          999         0      nonexistent                  1.1              93.994              -36.4       4.860       5191.0   no
3727    48  NaN   married             basic.4y     NaN      no   no  telephone   may         fri       344         2          999         0      nonexistent                  1.1              93.994              -36.4       4.859       5191.0   no
3809    56  NaN   married                  NaN     NaN     yes   no  telephone   may         fri       174        15          999         0      nonexistent                  1.1              93.994              -36.4       4.859       5191.0   no
3914    35  NaN    single             basic.4y     NaN     yes  yes  telephone   may         mon       374         6          999         0      nonexistent                  1.1              93.994              -36.4       4.858       5191.0   no
3995    44  NaN   married             basic.6y      no     yes  yes  telephone   may         mon       115         1          999         0      nonexistent                  1.1              93.994              -36.4       4.858       5191.0   no
4344    32  NaN       NaN    university.degree      no     yes  yes  telephone   may         tue        40         1          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
4364    43  NaN   married    university.degree      no      no   no  telephone   may         tue       378         1          999         0      nonexistent                  1.1              93.994              -36.4       4.856       5191.0   no
4818    28  NaN    single             basic.9y     NaN     yes   no  telephone   may         wed       102         3          999         0      nonexistent                  1.1              93.994              -36.4       4.858       5191.0   no
4849    53  NaN   married          high.school     NaN     yes   no  telephone   may         wed       125         1          999         0      nonexistent                  1.1              93.994              -36.4       4.858       5191.0   no
4879    36  NaN    single             basic.6y     NaN     yes   no  telephone   may         wed       660         1          999         0      nonexistent                  1.1              93.994              -36.4       4.858       5191.0   no
5000    44  NaN   married             basic.6y      no      no   no  telephone   may         wed       254         3          999         0      nonexistent                  1.1              93.994              -36.4       4.858       5191.0   no
5453    28  NaN    single             basic.9y     NaN     yes   no  telephone   may         fri       252         5          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
5595    41  NaN    single             basic.9y      no      no  yes  telephone   may         mon       369         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
5654    47  NaN   married                  NaN     NaN     yes   no  telephone   may         mon       269         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
5684    41  NaN   married             basic.6y     NaN      no   no  telephone   may         mon       204         2          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
5760    38  NaN   married             basic.6y      no     yes   no  telephone   may         mon       240         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
5898    43  NaN   married          high.school     NaN     yes  yes  telephone   may         mon       329         2          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
5900    59  NaN   married                  NaN     NaN      no   no  telephone   may         mon       130         3          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
5964    52  NaN   married             basic.4y      no      no   no  telephone   may         tue       150         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
6044    32  NaN   married             basic.6y     NaN     yes   no  telephone   may         tue       290         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
6089    43  NaN   married          high.school     NaN      no   no  telephone   may         tue       109         2          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no
6092    60  NaN   married    university.degree      no      no   no  telephone   may         tue       310         1          999         0      nonexistent                  1.1              93.994              -36.4       4.857       5191.0   no